
input, canvas, a {
    display: block
}
input, canvas {
    margin-left: auto;
    margin-right: auto;
}
.box{
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 2%;    
}
a {
    margin-top: 2%;
    text-align: center;
}
